PORT=5001
DB_HOST=<your postgresql database host>
DB_PORT=5432
DB_SCHEMA=app
DB_NAME=<your database name>
DB_USER=<your admin username>
DB_PASSWORD=<your admin password>
DATABASE_URL=postgresql://your_user:password@databasename-postgres.render.com/adminuser
PGSSLMODE=require
